*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 10vh;
    background-color: #2c3e50;
}
.jumbotron{
    height: 40vh;
    background-color: #1abc9c;
}
.titolo{
    height: 15vh;
    border: 1px solid black;
}
.item{
    height: 20vh;
    border: 1px solid black;
    background-color: red;
    margin: 5%;
}
.about{
    height: 40vh;
    background-color: #1abc9c;
}
.contact{
    height: 40vh;
    border: 1px solid black;
}
.info{
    height: 40vh;
    background-color: #3a546d;
}
footer{
    height: 15vh;
    background-color: #2c3e50;
}